.sqlbutonu{
    color: yellow;
    background-color: black;
}
.pytbutonu{
    color: yellow;
    background-color: black;
}
.jsbutonu{
    color: yellow;
    background-color: black;
}
.htmlbutonu{
    color: yellow;
    background-color: black;
}
.homebutonu{
    color: yellow;
    background-color: black;
}
.cssbutonu{
    color: yellow;
    background-color: black;
}
.phpbutonu{
    color: yellow;
    background-color: black;
}